In [13]:
from orion.analysis import analyze
from orion.explorer import OrionExplorer

In [14]:
orex = OrionExplorer('orion')

In [15]:
ds = orex.add_dataset('S-1', 'S-1', 'NASA')

In [16]:
orex.get_datasets()

,_id,insert_time,location,name,satellite,signal
0,5c7421d26c1cea2386914098,2019-02-25 17:11:46.519,,S-1,NASA,S-1

In [17]:
orex.add_pipeline('dummy', '../orion/pipelines/dummy.json')

In [18]:
orex.get_pipelines()

,_id,insert_time,mlpipeline,name
0,5c7421d26c1cea2386914099,2019-02-25 17:11:46.925,{'primitives': ['orion.primitives.estimators.M...,dummy

In [19]:
pipeline = orex.get_pipeline('dummy')

In [20]:
pipeline

In [21]:
datarun = analyze(orex, 'S-1', 'dummy')

In [29]:
orex.get_dataruns()

,_id,dataset,end_time,events,insert_time,pipeline,start_time
0,5c7421d56c1cea238691409a,5c7421d26c1cea2386914098,2019-02-25 17:11:49.091,926,2019-02-25 17:11:49.092,5c7421d26c1cea2386914099,2019-02-25 17:11:49.083

In [31]:
orex.get_events(datarun).head()

,_id,datarun,insert_time,score,start_time,stop_time
0,5c7421d56c1cea238691409b,5c7421d56c1cea238691409a,2019-02-25 17:11:49.143,0.572644,1222970400,1222992000
1,5c7421d56c1cea238691409c,5c7421d56c1cea238691409a,2019-02-25 17:11:49.193,0.572644,1223013600,1223035200
2,5c7421d56c1cea238691409d,5c7421d56c1cea238691409a,2019-02-25 17:11:49.198,0.572644,1223510400,1223532000
3,5c7421d56c1cea238691409e,5c7421d56c1cea238691409a,2019-02-25 17:11:49.203,0.572644,1223575200,1223596800
4,5c7421d56c1cea238691409f,5c7421d56c1cea238691409a,2019-02-25 17:11:49.207,0.572644,1223618400,1223640000