In [1]:
from orion.analysis import analyze
from orion.explorer import OrionExplorer

In [2]:
orex = OrionExplorer('orion')

In [3]:
orex.drop_database()

In [4]:
ds = orex.add_dataset('S-1', 'S-1', None)

In [5]:
orex.get_datasets()

,dataset_id,insert_time,name,signal,timestamp_column,value_column
0,5c7465646c1cea1665749551,2019-02-25 22:00:04.292,S-1,S-1,0,1

In [6]:
orex.add_pipeline('dummy', '../orion/pipelines/dummy.json')

In [7]:
orex.get_pipelines()

,pipeline_id,insert_time,mlpipeline,name
0,5c7465656c1cea1665749552,2019-02-25 22:00:05.776,{'primitives': ['orion.primitives.estimators.M...,dummy

In [8]:
pipeline = orex.get_pipeline('dummy')

In [9]:
pipeline

In [10]:
datarun = analyze(orex, 'S-1', 'dummy')

Using TensorFlow backend.

In [11]:
orex.get_dataruns()

,datarun_id,dataset,end_time,events,insert_time,pipeline,start_time
0,5c7465696c1cea1665749553,5c7465646c1cea1665749551,2019-02-25 22:00:09.093,926,2019-02-25 22:00:09.094,5c7465656c1cea1665749552,2019-02-25 22:00:09.084

In [12]:
events = orex.get_events(datarun)
events.head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c7465696c1cea1665749554,5c7465696c1cea1665749553,2019-02-25 22:00:09.150,0.572644,1222970400,1222992000,0
1,5c7465696c1cea1665749555,5c7465696c1cea1665749553,2019-02-25 22:00:09.204,0.572644,1223013600,1223035200,0
2,5c7465696c1cea1665749556,5c7465696c1cea1665749553,2019-02-25 22:00:09.208,0.572644,1223510400,1223532000,0
3,5c7465696c1cea1665749557,5c7465696c1cea1665749553,2019-02-25 22:00:09.213,0.572644,1223575200,1223596800,0
4,5c7465696c1cea1665749558,5c7465696c1cea1665749553,2019-02-25 22:00:09.218,0.572644,1223618400,1223640000,0

In [13]:
orex.add_comment(events.event_id.iloc[0], 'This is a comment example.')

In [14]:
orex.add_comment(events.event_id.iloc[0], 'This is another comment.')

In [15]:
orex.get_events(datarun).head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c7465696c1cea1665749554,5c7465696c1cea1665749553,2019-02-25 22:00:09.150,0.572644,1222970400,1222992000,2
1,5c7465696c1cea1665749555,5c7465696c1cea1665749553,2019-02-25 22:00:09.204,0.572644,1223013600,1223035200,0
2,5c7465696c1cea1665749556,5c7465696c1cea1665749553,2019-02-25 22:00:09.208,0.572644,1223510400,1223532000,0
3,5c7465696c1cea1665749557,5c7465696c1cea1665749553,2019-02-25 22:00:09.213,0.572644,1223575200,1223596800,0
4,5c7465696c1cea1665749558,5c7465696c1cea1665749553,2019-02-25 22:00:09.218,0.572644,1223618400,1223640000,0

In [16]:
orex.get_comments(datarun)

,event_id,datarun,insert_time,score,start_time,stop_time,text
0,5c7465696c1cea1665749554,5c7465696c1cea1665749553,2019-02-25 22:00:09.150,0.572644,1222970400,1222992000,This is a comment example.
1,5c7465696c1cea1665749554,5c7465696c1cea1665749553,2019-02-25 22:00:09.150,0.572644,1222970400,1222992000,This is another comment.