In [1]:
from orion.analysis import analyze
from orion.explorer import OrionExplorer

In [2]:
orex = OrionExplorer('orion')

In [3]:
ds = orex.add_dataset('S-1', 'S-1', 'NASA')

In [4]:
orex.get_datasets()

,dataset,insert_time,location,name,satellite,signal
0,5c7421d26c1cea2386914098,2019-02-25 17:11:46.519,,S-1,NASA,S-1

In [5]:
orex.add_pipeline('dummy', '../orion/pipelines/dummy.json')

In [6]:
orex.get_pipelines()

,pipeline,insert_time,mlpipeline,name
0,5c7421d26c1cea2386914099,2019-02-25 17:11:46.925,{'primitives': ['orion.primitives.estimators.M...,dummy

In [7]:
pipeline = orex.get_pipeline('dummy')

In [8]:
pipeline

In [9]:
datarun = analyze(orex, 'S-1', 'dummy')

Using TensorFlow backend.

In [10]:
orex.get_dataruns()

,datarun,dataset,end_time,events,insert_time,pipeline,start_time
0,5c7421d56c1cea238691409a,5c7421d26c1cea2386914098,2019-02-25 17:11:49.091,926,2019-02-25 17:11:49.092,5c7421d26c1cea2386914099,2019-02-25 17:11:49.083
1,5c743a516c1cea6ef2508bf4,5c7421d26c1cea2386914098,2019-02-25 18:56:17.002,926,2019-02-25 18:56:17.003,5c7421d26c1cea2386914099,2019-02-25 18:56:16.993
2,5c743a876c1cea701fbc74e0,5c7421d26c1cea2386914098,2019-02-25 18:57:11.437,926,2019-02-25 18:57:11.438,5c7421d26c1cea2386914099,2019-02-25 18:57:11.428
3,5c743cc46c1cea7877b93c81,5c7421d26c1cea2386914098,2019-02-25 19:06:44.100,926,2019-02-25 19:06:44.101,5c7421d26c1cea2386914099,2019-02-25 19:06:44.091

In [11]:
events = orex.get_events(datarun)
events.head()

,event,datarun,insert_time,score,start_time,stop_time,comments
0,5c743cc46c1cea7877b93c82,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.103,0.572644,1222970400,1222992000,0
1,5c743cc46c1cea7877b93c83,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.105,0.572644,1223013600,1223035200,0
2,5c743cc46c1cea7877b93c84,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.107,0.572644,1223510400,1223532000,0
3,5c743cc46c1cea7877b93c85,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.109,0.572644,1223575200,1223596800,0
4,5c743cc46c1cea7877b93c86,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.111,0.572644,1223618400,1223640000,0

In [12]:
orex.add_comment(events.event.iloc[0], 'This is a comment example.')

In [17]:
orex.add_comment(events.event.iloc[0], 'This is another comment.')

In [18]:
orex.get_events(datarun).head()

,event,datarun,insert_time,score,start_time,stop_time,comments
0,5c743cc46c1cea7877b93c82,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.103,0.572644,1222970400,1222992000,2
1,5c743cc46c1cea7877b93c83,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.105,0.572644,1223013600,1223035200,0
2,5c743cc46c1cea7877b93c84,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.107,0.572644,1223510400,1223532000,0
3,5c743cc46c1cea7877b93c85,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.109,0.572644,1223575200,1223596800,0
4,5c743cc46c1cea7877b93c86,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.111,0.572644,1223618400,1223640000,0

In [19]:
orex.get_comments(datarun)

,event,datarun,insert_time,score,start_time,stop_time,text
0,5c743cc46c1cea7877b93c82,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.103,0.572644,1222970400,1222992000,This is a comment example.
1,5c743cc46c1cea7877b93c82,5c743cc46c1cea7877b93c81,2019-02-25 19:06:44.103,0.572644,1222970400,1222992000,This is another comment.