# Analysis on NASA data using a dummy pipeline

This is a demo notebook showing how to use a pipeline to analyze the `S-1` dataset. It also shows how to list events and comments.

In [1]:
from orion.analysis import analyze
from orion.explorer import OrionExplorer

In [2]:
orex = OrionExplorer('user-id', 'orion')

In [3]:
orex.drop_database()

In [4]:
ds = orex.add_dataset('S-1', 'S-1', None, None, None)

In [5]:
orex.get_datasets()

,dataset_id,created_by,insert_time,name,signal_set,timestamp_column,value_column
0,5c8a817a1854814a0156149b,user-id,2019-03-14 16:29:46.113,S-1,S-1,0,1

In [6]:
orex.add_pipeline('dummy', '../orion/pipelines/dummy.json')

In [7]:
orex.get_pipelines()

,pipeline_id,created_by,insert_time,mlpipeline,name
0,5c8a817b1854814a0156149c,user-id,2019-03-14 16:29:47.875,{'primitives': ['orion.primitives.estimators.M...,dummy

In [8]:
pipeline = orex.get_pipeline('dummy')

In [9]:
pipeline

In [10]:
datarun = analyze(orex, 'S-1', 'dummy')

Using TensorFlow backend.

In [11]:
orex.get_dataruns()

,datarun_id,created_by,dataset,end_time,events,insert_time,pipeline,start_time,status
0,5c8a81861854814a0156149d,user-id,5c8a817a1854814a0156149b,2019-03-14 16:30:00.499,926,2019-03-14 16:29:58.534,5c8a817b1854814a0156149c,2019-03-14 16:29:58.532,done

In [12]:
events = orex.get_events(datarun)
events.head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c8a81861854814a0156149e,5c8a81861854814a0156149d,2019-03-14 16:29:58.594,0.572644,1222970400,1222992000,0
1,5c8a81861854814a0156149f,5c8a81861854814a0156149d,2019-03-14 16:29:58.638,0.572644,1223013600,1223035200,0
2,5c8a81861854814a015614a0,5c8a81861854814a0156149d,2019-03-14 16:29:58.642,0.572644,1223510400,1223532000,0
3,5c8a81861854814a015614a1,5c8a81861854814a0156149d,2019-03-14 16:29:58.646,0.572644,1223575200,1223596800,0
4,5c8a81861854814a015614a2,5c8a81861854814a0156149d,2019-03-14 16:29:58.651,0.572644,1223618400,1223640000,0

In [13]:
orex.add_comment(events.event_id.iloc[0], 'This is a comment example.')

In [14]:
orex.add_comment(events.event_id.iloc[0], 'This is another comment.')

In [15]:
orex.get_events(datarun).head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c8a81861854814a0156149e,5c8a81861854814a0156149d,2019-03-14 16:29:58.594,0.572644,1222970400,1222992000,2
1,5c8a81861854814a0156149f,5c8a81861854814a0156149d,2019-03-14 16:29:58.638,0.572644,1223013600,1223035200,0
2,5c8a81861854814a015614a0,5c8a81861854814a0156149d,2019-03-14 16:29:58.642,0.572644,1223510400,1223532000,0
3,5c8a81861854814a015614a1,5c8a81861854814a0156149d,2019-03-14 16:29:58.646,0.572644,1223575200,1223596800,0
4,5c8a81861854814a015614a2,5c8a81861854814a0156149d,2019-03-14 16:29:58.651,0.572644,1223618400,1223640000,0

In [16]:
orex.get_comments(datarun)

,event_id,datarun,score,start_time,stop_time,comment_id,created_by,insert_time,text
0,5c8a81861854814a0156149e,5c8a81861854814a0156149d,0.572644,1222970400,1222992000,5c8a818d1854814a0156183c,user-id,2019-03-14 16:30:05.449,This is a comment example.
1,5c8a81861854814a0156149e,5c8a81861854814a0156149d,0.572644,1222970400,1222992000,5c8a818e1854814a0156183d,user-id,2019-03-14 16:30:06.514,This is another comment.