# Analysis on NASA data using a dummy pipeline

This is a demo notebook showing how to use a pipeline to analyze the `S-1` dataset. It also shows how to list events and comments.

In [1]:
from orion.explorer import OrionExplorer

In [2]:
orex = OrionExplorer()

In [3]:
orex.drop_database()

In [4]:
ds = orex.add_dataset('S-1', 'S-1', None, None, None)

In [5]:
orex.get_datasets()

,dataset_id,data_location,insert_time,name,signal_set,start_time,stop_time
0,5c9e5c0d18548179ab641a6e,S-1,2019-03-29 17:55:25.206,S-1,S-1,1222819200,1442016000

In [6]:
orex.add_pipeline('dummy', '../orion/pipelines/dummy.json')

In [7]:
orex.get_pipelines()

,pipeline_id,insert_time,mlpipeline,name
0,5c9e5c0f18548179ab641a6f,2019-03-29 17:55:27.538,{'primitives': ['orion.primitives.estimators.M...,dummy

In [8]:
pipeline = orex.get_pipeline('dummy')

In [9]:
pipeline

In [10]:
datarun = orex.analyze('S-1', 'dummy')

In [11]:
orex.get_dataruns()

,datarun_id,dataset,end_time,events,insert_time,pipeline,start_time,status
0,5c9e5c1718548179ab641a70,5c9e5c0d18548179ab641a6e,2019-03-29 17:55:37.034,926,2019-03-29 17:55:35.638,5c9e5c0f18548179ab641a6f,2019-03-29 17:55:35.637,done

In [12]:
events = orex.get_events(datarun)
events.head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c9e5c1718548179ab641a71,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.719,0.572644,1222970400,1222992000,0
1,5c9e5c1718548179ab641a72,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.761,0.572644,1223013600,1223035200,0
2,5c9e5c1718548179ab641a73,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.765,0.572644,1223510400,1223532000,0
3,5c9e5c1718548179ab641a74,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.769,0.572644,1223575200,1223596800,0
4,5c9e5c1718548179ab641a75,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.774,0.572644,1223618400,1223640000,0

In [13]:
orex.add_comment(events.event_id.iloc[0], 'This is a comment example.', 'user-id')

In [14]:
orex.add_comment(events.event_id.iloc[0], 'This is another comment.', 'other-user-id')

In [15]:
orex.get_events(datarun).head()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5c9e5c1718548179ab641a71,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.719,0.572644,1222970400,1222992000,2
1,5c9e5c1718548179ab641a72,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.761,0.572644,1223013600,1223035200,0
2,5c9e5c1718548179ab641a73,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.765,0.572644,1223510400,1223532000,0
3,5c9e5c1718548179ab641a74,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.769,0.572644,1223575200,1223596800,0
4,5c9e5c1718548179ab641a75,5c9e5c1718548179ab641a70,2019-03-29 17:55:35.774,0.572644,1223618400,1223640000,0

In [16]:
orex.get_comments(datarun)

,event_id,datarun,score,start_time,stop_time,comment_id,created_by,insert_time,text
0,5c9e5c1718548179ab641a71,5c9e5c1718548179ab641a70,0.572644,1222970400,1222992000,5c9e5c2218548179ab641e0f,user-id,2019-03-29 17:55:46.510,This is a comment example.
1,5c9e5c1718548179ab641a71,5c9e5c1718548179ab641a70,0.572644,1222970400,1222992000,5c9e5c2618548179ab641e10,other-user-id,2019-03-29 17:55:50.589,This is another comment.