# OrionExplorer Usage Example

This is a demo notebook showing how to use the `OrionExplorer` on one of the
signals from the Demo Dataset.

In this case, we will be processing the `S-1` signal with the `lstm_dynamic_threshold.json`
pipeline.

Afterwards, we will explore the found events and add some comments on them.

## 1. Create an OrionExlorer Instance

In this first step, we setup the environment, import the `OrionExplorer` and create
an instance passing the name of the database which we want to connect to.

In [1]:
import logging;

logging.basicConfig(level=logging.ERROR)
logging.getLogger().setLevel(level=logging.ERROR)

import warnings
warnings.simplefilter("ignore")

In [2]:
from orion.explorer import OrionExplorer

explorer = OrionExplorer(database='orion-usage-example')

In this case we will drop the database before starting to make sure that we are working
on a clean environment.

**WARNING**: This will remove all the data that exists in this database!

In [3]:
explorer.drop_database()

## 2. Add the pipeline that we will be using

The second step is to register the pipeline that we are going to use by calling the `add_pipeline`
method of our `OrionExplorer` instance passing:
* the name that we want to give to this pipeline.
* the path to the pipeline JSON.

We will also capture the output of the `add_pipeline` call, which will be the pipeline object
that we will use later on.

In [4]:
explorer.add_pipeline(
    'lstm_dynamic_threshold',
    '../orion/pipelines/lstm_dynamic_threshold.json'
)

Afterwards, we can obtain the list of pipelines to see if it has been properly registered

In [5]:
explorer.get_pipelines()

,pipeline_id,insert_time,mlpipeline,name
0,5ca78bad6c1cea4c2fe123e2,2019-04-05 17:09:01.114,{'primitives': ['mlprimitives.custom.timeserie...,lstm_dynamic_threshold

## 3. Register a dataset

Now we will register a new dataset, for the signal that we want to process.

In order to do this, we will call the `add_dataset` method from our `OrionExplorer` instance
passing:

* the name that we are giving to this the dataset
* the signal that we want to use

Just like before, we will also capture the output of the `add_dataset` call in a variable.

In [6]:
explorer.add_dataset('S-1', 'S-1')

Afterwards we can check that the dataset was properly registered

In [7]:
explorer.get_datasets()

,dataset_id,data_location,insert_time,name,signal_set,start_time,stop_time
0,5ca78bae6c1cea4c2fe123e3,S-1,2019-04-05 17:09:02.561,S-1,S-1,1222819200,1442016000

## 4. Run the pipeline on the dataset

Once the pipeline and the dataset are registered, we can start the analysis.

In [8]:
explorer.analyze('S-1', 'lstm_dynamic_threshold')

Using TensorFlow backend.

## 5. Analyze the results

Once the execution has finished, we can explore the Dataruns and the detected Events.

In [14]:
explorer.get_dataruns()

,datarun_id,dataset,end_time,events,insert_time,pipeline,start_time,status
0,5ca787aa6c1cea34a558bf83,5ca787a66c1cea34a558bf82,2019-04-05 16:56:29.617,1,2019-04-05 16:51:54.510,5ca787a56c1cea34a558bf81,2019-04-05 16:51:54.509,done

In [15]:
explorer.get_events()

,event_id,datarun,insert_time,score,start_time,stop_time,comments
0,5ca788bd6c1cea34a558bf84,5ca787aa6c1cea34a558bf83,2019-04-05 16:56:29.571,0.139298,1398297600,1399420800,0